.navbar {
  margin-top: 15px;
}

.panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.filter-column {
  flex: 4;
  padding-right: 15px;
}

.filter-operator {
  flex: 4;
  padding-right: 15px;
}

.filter-input {
  flex: 6;
  padding-right: 15px;
}

.filter-btn {
  flex: 1;
}

.pagination-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-input {
  width: 45px;
}

